<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">

        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

          <form style="width: 23rem;" [formGroup]="loginForm" (ngSubmit)="loginAdmin()">

            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; color: #17a2b8; font-weight: bold;">Admin Login</h3>

            <div class="form-outline mb-4">
              <input formControlName="email" type="email"  id="email" class="form-control form-control-lg" />
              <label class="form-label" for="email">Email address</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" formControlName="password"  id="password" class="form-control form-control-lg" />
              <label class="form-label" for="password">Password</label>
            </div>

            <div class="pt-1 mb-4">
              <button  class="btn btn-info btn-lg btn-block" type="submit">Login</button>
            </div>
            <p>Employee Login ? <a routerLink="/employee-auth" class="link-info">Click here</a></p>

          </form>

        </div>

      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="https://burst.shopifycdn.com/photos/office-staff-typing-on-laptop.jpg?width=925&format=pjpg&exif=1&iptc=1"
          alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
      </div>
    </div>
  </div>
</section>